/* F55123044_I Wayan Arigayu Saputra */
* {
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: white;
    background-attachment: fixed;
    margin: 0%;
}

nav {
    display: inline-flex;
    justify-content: space-between;
}

main{
    background-color: rgb(56, 56, 199);
}

footer {
    background-color: rgb(39, 39, 255);
    background-attachment: fixed;
}